openapi: 3.1.0
info:
  title: Create Release API
  version: 1.1.0
  description: >-
    GitHub-native release dispatcher. A release is an intentional, versioned,
    user-consumable artifact or product. Source-only and internal changes are
    not releases.
servers:
  - url: https://api.github.com
paths:
  /repos/{owner}/{repo}/actions/workflows/create-release.yml/dispatches:
    post:
      operationId: createRelease
      summary: Request a GitHub release
      description: >-
        Dispatches the release workflow. The workflow validates the release
        policy and creates the release in the target repository.
      security:
        - githubToken: []
      parameters:
        - name: owner
          in: path
          required: true
          schema: { type: string }
        - name: repo
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseRequest'
      responses:
        '204': { description: Workflow dispatch accepted }
        '401': { description: Authentication required }
        '403': { description: Actions permission denied }
        '404': { description: Workflow or repository not found }
        '422': { description: Validation failed }
components:
  securitySchemes:
    githubToken:
      type: http
      scheme: bearer
      bearerFormat: GitHub token
  schemas:
    ReleaseRequest:
      type: object
      required: [ref, inputs]
      properties:
        ref:
          type: string
          example: main
        inputs:
          type: object
          required: [target_repo, tag_name, release]
          properties:
            target_repo:
              type: string
              pattern: '^[A-Za-z0-9_.-]+/[A-Za-z0-9_.-]+$'
              example: bonsai/hw-msedge-ext
            tag_name:
              type: string
              pattern: '^v[0-9]+\\.[0-9]+\\.[0-9]+([-.][0-9A-Za-z.-]+)?$'
              example: v1.0.0
            release:
              type: string
              enum: ["true"]
              description: Explicit confirmation that this is a releaseable artifact/product.
            name:
              type: string
            body:
              type: string
            prerelease:
              type: string
              enum: ["true", "false"]
            draft:
              type: string
              enum: ["true", "false"]
            generate_release_notes:
              type: string
              enum: ["true", "false"]
